version: '3.8'

services:
  db:
    image: postgres:14
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  app:
    image: python:3.11-slim
    working_dir: /app
    volumes:
      - ./:/app
    command: bash -c "echo 'App container placeholder' && sleep infinity"
